NEXT_PUBLIC_API_URL=http://localhost:4000/api
NEXT_PUBLIC_SOCKET_URL=http://localhost:4000
NEXT_PUBLIC_CHAT_NAMESPACE=/chat
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDQB10mxhhM_IWEU9V5vkEkmyiaSP2OVBg
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=geetlove-e8861.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=geetlove-e8861
NEXT_PUBLIC_FIREBASE_APP_ID=1:256717125886:web:ddbded33cfd6ffb2bdcdaf
NEXT_PUBLIC_ADMIN_EMAIL=
